.settings-page{
    min-height:100vh;
    background:#0f1117;
    color:white;
    padding:40px;
}

.subtitle{
    color:#9ca3af;
    margin-bottom:20px;
}

.search-box{
    width:350px;
    max-width:100%;
    padding:14px;
    background:#1b1e27;
    border:none;
    color:white;
    border-radius:12px;
    margin-bottom:25px;
}

.tabs{
    display:flex;
    gap:15px;
    margin-bottom:30px;
    flex-wrap:wrap;
}

.tabs button{
    background:transparent;
    border:none;
    color:#aaa;
    cursor:pointer;
    padding-bottom:8px;
}

.tabs .active{
    color:#7c5cfc;
    border-bottom:2px solid #7c5cfc;
}

.settings-grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:25px;
}

.card{
    background:#1b1e27;
    padding:25px;
    border-radius:18px;
    margin-bottom:25px;
}

.card h2{
    margin-bottom:20px;
}

.card input,
.card textarea{
    width:100%;
    margin-bottom:15px;
    padding:14px;
    background:#252938;
    border:none;
    border-radius:10px;
    color:white;
    font-size:15px;
}

.card textarea{
    min-height:120px;
    resize:vertical;
}

.card ul{
    padding-left:18px;
}

.card li{
    margin-bottom:15px;
}

.card button{
    margin-top:15px;
    padding:12px 18px;
    background:#7c5cfc;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

.actions{
    display:flex;
    justify-content:flex-end;
    gap:20px;
}

.cancel{
    background:#2d3345;
    color:white;
    border:none;
    padding:14px 22px;
    border-radius:10px;
    cursor:pointer;
}

.save{
    background:#7c5cfc;
    color:white;
    border:none;
    padding:14px 24px;
    border-radius:10px;
    cursor:pointer;
}

.save:hover{
    background:#9479ff;
}

@media(max-width:900px){

.settings-grid{
    grid-template-columns:1fr;
}

.search-box{
    width:100%;
}

.actions{
    justify-content:center;
}

}